@model SelectList
@{
    ViewData["Title"] = "SendMoney";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
SendeId,
    AccountId
    Ammount
*@
<div class="mt-3">
    <form asp-action="SendMoney" method="post">
        <input type="hidden"  name="SenderId" value="@ViewBag.SenderId" />
        <div class="mb-3">
            <label>Göndereceğiniz Hesap numarası</label>
            <select class="form-select" name="AccountId" asp-items="@Model">
            </select>
        </div>
        <div class="mb-3">
            <label>Göndereceğiniz Ttutar</label>
            <input type="number" name="Amount" class="form-control" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Para Gönder</button>
        </div>
    </form>
</div>


